
* {
box-sizing: border-box;
}
.view {
margin: 0em 4vw 0em 4vw;
}
.view-full {
margin: 0em 0.3em 0em 0.3em;
}
.bg-red {
background-color: red;
}
.bg-green {
background-color: green;
}
.bg-blue {
background-color: blue;
}
.bg-purple {
background-color: purple;
}
.bg-orange {
background-color: orange;
}
.bg-black {
background-color: black;
}
.t-red {
color: red;
}
.t-green {
color: green;
}
.t-blue {
color: blue;
}

.t-purple {
color: purple;
}

.t-orange {
color: orange;
}

.t-black {
color: black;
}


.text-s {
font-size: 75%;
}


.text-xs {
font-size: 50%;
}


.text-1 {
font-size: 100%;
}


.text-2 {
font-size: 125%;
}


.text-3 {
font-size: 150%;
}


.text-4 {
font-size: 200%;
}


.text-5 {
font-size: 250%;
}


.text-6 {
font-size: 300%;
}

.text-i {
font-style: oblique;
}
.text-b {
font-weight: bold;
}
.text-l {
font-weight: lighter;
}